/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}


body {
    font-size: 16px;
    font-family: 'Jeju Gothic', sans-serif;
    background-color: black;
    color: white;
  }
  
  #container {
    width: 80%;
    height: 80%;
    line-height: 1.5;
  }
  
  .pre-style-1 {
    font-size: 0.5rem;
    padding-top: 3rem;
  }
  
  .pre-style-2 {
    padding-left: 1rem;
    font-size: 0.6rem;
  }
  
  .pre-style-3 {
    font-size: 0.9rem;
    padding-left: 1.5rem;
    padding-top: 5rem;
  }
  
  #container pre:last-child::after {
    content: '|';
    animation: blink 0.7s step-end infinite;
  }
  
  /* 모바일 화면에 대한 스타일 */
  @media (max-width: 767px) {
    body {
      font-size: 14px;
    }
  
    .pre-style-1 {
      font-size: 0.6rem;
      padding-top: 2rem;
    }
  
    .pre-style-2 {
      padding-left: 0.8rem;
      font-size: 0.4rem;
    }
  
    .pre-style-3 {
      font-size: 0.7rem;
      padding-left: 1rem;
      padding-top: 3rem;
    }
  }