@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);


/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}


.jejugothic {
  font-family: 'Jeju Gothic', sans-serif;
  font-weight: 400;
  line-height: 150%;
}

.mono {
  font-family: 'Roboto Mono', monospace; 
  line-height: 150%;
  font-weight: 400;
}


.typing {
  opacity: 0;
}


body {
  font-size: 1rem;
  width: 100vw;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

nav{
  position: fixed;
  top: 0;
  background-color: #423937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 3vh;
  padding: 0 1rem;
}
nav:after{
  content: '';
  width: 4.5rem;
}

.circleButtons{
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.navTitle{
  font-size: 0.8rem;
}


.circle{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
}

.red{
  background: #EC6A5E;;
}
.yellow{
  background: #F4BF4F;
}
.green{
  background: #61C554;
}

h2 {
  white-space: pre-wrap;
  width: 100%;
  word-wrap: break-word;
  margin: 0;
}



#container {
  width: 70%;
  height: 80%;
  margin: 3rem auto;
  padding: 20px;
  line-height: 1.5;
}

#container h4:last-child::after {
  content: '|';
  animation: blink 0.7s step-end infinite;
}


@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  z-index: 2;
}

.left{
  left: 0;
  content: "<";
}

.right{
  right: 0;
  content: ">";
}

.binary-text {
  white-space: pre;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-break: keep-all;
  overflow-wrap: break-word;
  width: 100%;
  word-wrap: break-word;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: black;
  position: fixed;
  z-index: 10;
  bottom: 0;
}

input{
  border: none;
  border: solid 4px #999;
  border-radius: 10px;
  background-color: white;
  width: 1.4rem;
  height: 1.4rem;
  text-align: center;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
}

input:focus {
  zoom: 1;
  touch-action: auto;
}


input::placeholder {
  color: black;
  font-size: 1rem;
}

